element.style {
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
:root {
    --bg-custom: #B60A44;
    --bs-gutter-y: padding;
    --bs-secondary: #00131f;
    --bs-tertiary: #cfab7b;
    --bs-especial-nav: #00131f;
    --text-green_new: rgba(2, 129, 40, 0.986);
    --bs-white: #fff;
    --bs-gray: #F9FAFD;
    --bs-purple: #7B23E2;
    --bs-green: #8BBE00;
    --bs-especial: #0f4ac0;
    --bs-especial-two: #586a8d;
    --general-background: #F6F6F6;
    --general-principal-color: #3E4851;
    --navbar-lateral-color: #3E4851;
    --navbar-lateral-backgroud: #FFFFFF;
    --navbar-lateral-boxshadow: #A4D8CB;
    --navbar-link: #A4D8CB;
    --navbar-lateral-header: #3E4851;
    --navbar-superior-background: #3E4851;
    --navbar-superior-color: #FFFFFF;
    --navbar-superior-hover: #A4D8CB;
    --navbar-externo-color: #FFFFFF;
    --navbar-externo-link: #FFFFFF;
    --navbar-externo-boxshadow: #3E4851;
    --button-principal-background: #B60A44;
    --button-principal-color: #FFFFFF;
    --button-principal-border: #B60A44;
    --button-secundario-background: #3C3C3B;
    --button-secundario-color: #FFFFFF;
    --button-secundario-border: #3C3C3B;
    --etiqueta-background: #3C3C3B;
    --etiqueta-color: #FFFFFF;
    --img-menu: ;
    --login-title1: #3C3C3B;
    --login-title2: #3C3C3B;
    --login-title3: #B60A44;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html[Estilo de atributos] {
    -webkit-locale: "es";
}
hoja de estilo de user-agent
:root {
    view-transition-name: root;
}
hoja de estilo de user-agent
html {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 129px !important;
    border: -2px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-track {
    background-color: transparent;